   <footer class="container-fluid bg-dark">
        <div class="row">
            <section class="col"> 
             partie 1
            </section>
            <section class="col"> 
              partie 2
            </section>
            <section class="col"> 
              partie 3
            </section>
        </div>
    </footer>