

    <aside class="col-3 border border-light bg-white p-2">

        <article class="card mb-3">
            <div class="card-header">
                Categpories
            </div>
            <div class="card-body">
                <p><a href="{{ path('categories_admin_index') }}">Liste des Categories</a></p>
                <p><a href="">Ajouter une Categories</a></p>
            </div>
        </article>
        <article class="card mb-3">
            <div class="card-header">
                Produits
            </div>
            <div class="card-body">
                <p><a href="{{ path('admin_products_index') }}">Liste des Produits</a></p>
                <p><a href="{{ path('admin_products_create_') }}">Ajouter un Products</a></p>
            </div>
        </article>

        <article class="card mb-3">
            <div class="card-header">
              Utilisateurs
            </div>
            <div class="card-body">
                <p><a href="{{ path('admin_users_index') }}">Liste des Utilisateurs</a></p>
            </div>
        </article>


    </aside>