{% extends 'base.html.twig' %}


{% block title %} Upadate Password{% endblock %}

{% block body %}
<section class="container my-3">
    <div class="row">
        <div class="col">

            <h1> Rénitialisation de mot de passe</h1>
            {{ form_start(resetPassword) }}
            {{ form_row(resetPassword.email) }}
            <button type="submit" class="btn btn-primary">Reset</button>
            {{ form_end(resetPassword) }}

        </div>

    </div>

</section>
{% endblock %}

