{% extends 'base.html.twig' %}

{% block title %}title{% endblock %}

{% block body %}

<main class="container">
   <section class="row">
      <div class="col-12">
        <h1> Welcome to my Shop Mandingue </h1>
        <p> Site E-commerce pour les marchands </p>
      </div>
   </section>
</main>

{% endblock %}

