{% extends 'base.html.twig' %}

{% block title %} la liste des category des produits {{ categories.name }}{% endblock %}

{% block body %}

<h1> details products de {{ categories.name }}</h1>

{% endblock %}
