{% extends 'base.html.twig' %}

{% block title %} la liste des category des produits {{ categorie.name }}{% endblock %}

{% block body %}

<h1> details products de {{ categorie.name }}</h1>

{% endblock %}
