{% extends 'base.html.twig' %}


{% block title %}BackOffice Administration{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% include '_partials/adminNavbar.html.twig' %}
            <main class="col-9 border border-light bg-white p-2">
             <h1>Administration</h1>
            </main>
        </div>
    </div>
{% endblock %}



