<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav text-white">
            <a class="nav-link text-white active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link text-white" href="#">Features</a>
            <a class="nav-link text-white" href="#">Pricing</a>
        </div>
    </div>
      <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
        {%  if app.user %}
           <li class="nav-item">
               <a class="nav-link text-white" href="#">Mon Compte</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-white" href="{{ path('app_logout') }}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
               <a class="nav-link text-white" href="{{ path('app_login') }}">Sign in</a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-white" href="{{ path('app_register') }}">Sign up</a>
            </li>
            {% endif %}
        </ul>
</nav>